/* {
  box-sizing: border-box;
}*/

body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: black;
  align-items: center;
  padding: 15px;
  border-bottom:  4px solid #5531b9;

}
#menu {
  display: flex;
}

#menu a{
  padding-left: 10px;
  text-decoration: none;
  color:rgb(255, 255, 255);
}

#menu a:hover{
  color: #5531b9;
}

.logo {
  display: flex;
  align-items: center;

}
.logo img {
  height: 100px;
  margin-right: 10px;
}

h1 {
  color: aliceblue;
  align: center;
  display: flex;
  align-items: center;
}

  p {
  color: #ffffff;
  width: 100%;
  padding-top: 2%;
  padding-left:2%;
  font-size: 16px;
  text-align: center;
  font-family: 'Lucida', sans-serif
}

.img1{
  background-color: black;
  background-image: url("./fondocarlitos.png");
  background-repeat: no-repeat;
  height: 100vh;
}

form {
  position: relative;
  width: 28%;
  height: 40%; 
  top:20%;
  left: 55%;
  background-color:rgb(255, 255, 255);
  padding: 40px;
  border-radius: 30px;
}

input{ /*cuadros de datos*/
  background-color: #F6F6F6;
  border: solid 1px #9D9D9C; 
  padding: 10px;
  width: 300px;
  position: relative;
  font-size: 15px;
  border-radius: 15px;
  display:block;
  margin-left: auto;
  margin-right: auto;  
}

label {
  padding: 120px;
  font-weight: bold;
  color: rgb(143, 112, 161);
}

.grupo-select {
  text-align: center;
}

button {
margin-left: 100px;
  border: solid 1px rgb(105, 89, 177); 
  padding: 11px;
  width: 180px;
  margin-top: 4px;
  position: relative;
  background:#5531b9;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Lucida', sans-serif;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background: rgb(141, 146, 214);
  border:solid 1px rgb(105, 89, 177);
  color: black;
}

footer {
  background-color: #5531b9;
  color: #ffffff;
text-align: center;
}